unpackaged/main/default/flows/Case_Update_Case_Owner_When_Case_Closed.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <description>Sets the Case Owner to the person who closed the case</description>
        <name>Set_Case_Owner_to_Last_Modified_By</name>
        <label>Set Case Owner to Last Modified By</label>
        <locationX>408</locationX>
        <locationY>372</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LastModifiedById</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <description>Checks to see if Case was just closed by someone other than current case owner</description>
        <name>Case_Closed</name>
        <label>Case Closed?</label>
        <locationX>168</locationX>
        <locationY>373</locationY>
        <defaultConnectorLabel>No - exit flow</defaultConnectorLabel>
        <rules>
            <name>Yes_update_case_owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ClosedDate</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LastModifiedById</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ClosedDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Case_Owner_to_Last_Modified_By</targetReference>
            </connector>
            <label>Yes - update case owner</label>
        </rules>
    </decisions>
    <description>Before update flow that changes the case owner to the person who closed the case.</description>
    <interviewLabel>Case - Update Case Owner When Case Closed {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - Update Case Owner When Case Closed</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Case_Closed</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
