unpackaged/main/default/flows/Find_or_Add_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <description>Assigns the values we just set on the screen to the Person Account.</description>
        <name>Assign_input_values_to_Person_Account</name>
        <label>Assign input values to Person Account</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>CreatedPersonAccount.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProspectName.firstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreatedPersonAccount.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProspectName.lastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreatedPersonAccount.PersonEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProspectEmail.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreatedPersonAccount.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProspectPhone.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreatedPersonAccount.IsPersonAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreatedPersonAccount.PersonBirthdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Birthdate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreatedPersonAccount.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0124R0000014mX9QAI</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Person_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Here we assign the ContactId and AccountId from our new Person Account record to the existing Case from which we started.</description>
        <name>Assign_new_ContactId_and_AccountId_to_starting_Case</name>
        <label>Assign new ContactId and AccountId to starting Case</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>recordId.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_New_Person_Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_New_Person_Account.PersonContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Starting_Case</targetReference>
        </connector>
    </assignments>
    <description>Screen flow to allow adding a new Person Account and associating the case to that account.</description>
    <interviewLabel>Find or Add Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Find or Add Account</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Here, we actually commit the new Person Account to the database.</description>
        <name>Create_Person_Account</name>
        <label>Create Person Account</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>Get_New_Person_Account</targetReference>
        </connector>
        <inputReference>CreatedPersonAccount</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Query to find the ContactId and AccountID that we just set upon insert of the new Person Account.</description>
        <name>Get_New_Person_Account</name>
        <label>Get New Person Account</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_new_ContactId_and_AccountId_to_starting_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CreatedPersonAccount.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Updates our stating case to reference the new Person Account</description>
        <name>Update_Starting_Case</name>
        <label>Update Starting Case</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <inputReference>recordId</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Find_or_add_Account</name>
        <label>Find or Add Account</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_input_values_to_Person_Account</targetReference>
        </connector>
        <fields>
            <name>ProspectName</name>
            <extensionName>flowruntime:name</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ProspectPhone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>recordId.ContactPhone</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ProspectEmail</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Birthdate</name>
            <dataType>Date</dataType>
            <fieldText>Birthdate</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Find_or_add_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>The variable we will use to create our Person Account.</description>
        <name>CreatedPersonAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <description>The Case record from which we started our flow.</description>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
