unpackaged/main/default/flows/Lead_Create_Case_for_Webform_Submissions.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <description>Step to assign values to the new Case based on Lead</description>
        <name>Assign_values_to_new_case_record</name>
        <label>Assign values to new case record</label>
        <locationX>50</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>CaseToCreate.SuppliedPhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseToCreate.SuppliedEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseToCreate.SuppliedName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!$Record.FirstName} {!$Record.LastName}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseToCreate.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ConvertedContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseToCreate.Webform_ZIP__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseToCreate.Campaign__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Last_Form_Submitted_Campaign_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseToCreate.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0124R0000014mXnQAI</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Webform_Case</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Checks to see if referenced Campaign has a checkbox that indicates we should create a case when associated webforms are submitted.</description>
        <name>Is_Campaign_one_that_should_create_a_Case</name>
        <label>Is Campaign one that should create a Case?</label>
        <locationX>182</locationX>
        <locationY>551</locationY>
        <defaultConnectorLabel>No - exit flow</defaultConnectorLabel>
        <rules>
            <name>Yes_Create_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_that_generated_Lead.Create_Case_from_Webforms__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_values_to_new_case_record</targetReference>
            </connector>
            <label>Yes - Create Case</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decision point that checks whether the Lead in question was just converted as part of this transaction and contains a Last Submitted Campaign Id (which means it was created via webform).</description>
        <name>Was_Lead_just_converted</name>
        <label>Was Lead just converted?</label>
        <locationX>380</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>No - exit flow</defaultConnectorLabel>
        <rules>
            <name>Yes_Proceed_to_case_creation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsConverted</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ConvertedContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Last_Form_Submitted_Campaign_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Campaign_that_generated_Lead</targetReference>
            </connector>
            <label>Yes - Proceed to case creation</label>
        </rules>
    </decisions>
    <description>Flow that creates a new case for converted Leads to share info with Webform Cases, based on checkbox on Campaign.</description>
    <interviewLabel>Lead - Create Case for Webform Submissions {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead - Create Case for Webform Submissions</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Creates a new Case associated to the converted Lead.</description>
        <name>Create_Webform_Case</name>
        <label>Create Webform Case</label>
        <locationX>50</locationX>
        <locationY>791</locationY>
        <inputReference>CaseToCreate</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Query to get the campaign matching the Campaign ID specified.</description>
        <name>Get_Campaign_that_generated_Lead</name>
        <label>Get Campaign that generated Lead</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Campaign_one_that_should_create_a_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Last_Form_Submitted_Campaign_ID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Was_Lead_just_converted</targetReference>
        </connector>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>The case we are creating as a result of webform submission</description>
        <name>CaseToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
